aniso8601==8.1.0
attrs==20.3.0
click==7.1.2
colorzero==1.1
Flask==1.1.2
Flask-RESTful==0.3.8
flask-restplus==0.13.0
gpiozero==1.5.1
import==0.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
mysql-connector-python==8.0.22
protobuf==3.14.0
pyrsistent==0.17.3
pytz==2020.5
six==1.15.0
Werkzeug==0.16.0
